section.email#contact 
  .flex.flex--center     
    .col-1
      h4
        a(href="mailto:tatecarson@gmail.com") tatecarson@gmail.com
    .col-1
      h4
        a(href="https://soundcloud.com/tate-carson" target="_blank") soundcloud 
    .col-1
      h4
        a(href="https://twitter.com/tatecarson" target="_blank") twitter
