section.email#contact 
  .flex.flex--center     
    .col-1
      h3
        a(href="mailto:tatecarson@gmail.com") tatecarson@gmail.com
    .col-1
      h3
        a(href="https://soundcloud.com/tate-carson" target="_blank" rel="noopener") soundcloud 
    .col-1
      h3
        a(href="https://twitter.com/tatecarson" target="_blank" rel="noopener") twitter
    
      

  .flex.flex--center
    .col-1
      <a href='https://webring.xxiivv.com/#random' target='_blank'><img src='https://webring.xxiivv.com/icon.black.svg'/ width="60px"></a>
      //- p distributed on <a href="https://ipfs.io">ipfs<a/> / dns with <a href="https://www.cloudflare.com/distributed-web-gateway/">Distributed Web Gateway</a> / deployed with <a href="https://github.com/ipfs-shipyard/ipfs-deploy">ipfs-deploy</a>