section.about#about
  .flex.flex--center
    .col-1.push-left.push-up
      h2 Sound Organizer 

section.about2 
  .flex.flex--center
    h2 About 

  .flex.flex--center
    .col-1
      p Tate Carson is a composer and upright bassist from New Orleans, Louisiana. He studied jazz composition and performance at both Loyola University New Orleans and the University of New Orleans. Carson was active in the New Orleans jazz improvisation scene from 2009 until 2015 when he moved to Oakland, California. While in Oakland, he earned an MFA in Electronic Music and Recording Media at Mills College. He is now pursuing a PhD in Experimental Music and Digital Media at Louisiana State University.
  
    .col-1
      p Living and working in New Orleans, where traditional jazz remains culturally predominant, gave Carson an appreciation for rhythm as a guiding force in his compositions. He began experimenting with electronic music after feeling hindered by the timbral limitations of acoustic instruments. As a result, many of his electronic compositions utilize both acoustic and electronic instruments, creating dynamic sound environments. He often draws from his interests in self-similarity, the rough geometry of nature, and generative processes.

    .col-1
      p Carson has written for large open ensembles, improvisers, and non-improvisers; acousmatic fixed media; music for dance; and film and advertising. He also experimented with sonification that incorporates visualization. Recently, he has been working with web technologies and audience-controlled smartphone speaker arrays.
      
  
    p extra 