<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--
  Allows control over where resources are loaded from.
  Place as early in the <head> as possible, as the tag  
  only applies to resources that are declared after it.
  -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
  <meta name="description" content="Tate Carson is a composer and upright bassist from New Orleans, Louisiana. He studied jazz composition and performance at both Loyola University New Orleans and the University of New Orleans. Carson was active in the New Orleans jazz improvisation scene from 2009 until 2015 when he moved to Oakland, California. While in Oakland, he earned an MFA in Electronic Music and Recording Media at Mills College. He is now pursuing a PhD in Experimental Music and Digital Media at Louisiana State University.">
  <title> {% if page.title %} {{ page.title }} {% endif %} </title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="assets/css/main.css">
  {% if page.type =="post" %}{{ page.styles }}{% endif %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
</head>

<body class="{% if page.home %}home blog logged-in{% endif %} {{ page.type }} {%if page.body-name%}{{ page.body-name }}{% endif %}">

  {{ content }}

  <!-- {% if page.url == "/index.html" %}
  <script src="/assets/js/functions.js"></script>
  {% endif %} -->

  <script src="assets/js/functions.js"></script>
</body>

</html>