<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> {% if page.title %} {{ page.title }} {% endif %} </title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="assets/css/main.css">
    {% if page.type =="post" %}{{ page.styles }}{% endif %}
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
  </head>
  <body class="{% if page.home %}home blog logged-in{% endif %} {{ page.type }} {%if page.body-name%}{{ page.body-name }}{% endif %}">

  {{ content }}

  <!-- {% if page.url == "/index.html" %}
  <script src="/assets/js/functions.js"></script>
  {% endif %} -->

  <script src = "assets/js/functions.js"></script>
  </body>
</html>
